<!DOCTYPE html>
<html lang="en"><head>

  <meta charset="utf-8">

  <title>32014</title>

  <meta name="description" content="32014 is an exciting and action-packed game that follows the thrilling adventures of Atrav as he fights to save the world from danger.">
  <meta name="theme-color" content="#FF9900" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="32014, game by 162007">
  <meta property="og:type" content="game" />
  <meta property="og:image" content="https://img.itch.zone/aW1nLzk5MTc2OTgucG5n/original/6to4Xt.png">

  <meta name="twitter:card" content="summary_large_image">

  <link rel="stylesheet" href="/css/normal.css">

  <link rel="stylesheet" href="/css/base.css">

  <link rel="stylesheet" href="/css/style.css">

  <link rel="icon" type="image/png" href="src/logo.png">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">

<body onscroll="scroll()">



  <div id="banner" class="wrapper">

    <h1 class="the32014-logo">32014</h1>

    <img src="/src/logo.png" alt="32014 key art" id="key-art">

    <p class="description"> 32014 is an exciting and action-packed game that follows the thrilling adventures of Atrav as he fights to save the world from danger. </p>

  </div>
  <div class="wrapper" id="animation-container">
    <img src="/src/LEGEND.png" alt="LEGEND" class="smol" id="LEGEND">
    <img src="/src/atrav_gaming.png" alt="atrav_gaming" class="smol" id="atrav-gaming" style="overflow-anchor: none;">
    <img src="/src/deadtimes.png" alt="deadtimes" class="smol" id="deadtimes">
  </div>

  <br><br>
  
  <div class="restofthefuckingpage">
  <div class="video-container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/DZptvYEvrPc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>  </div>

<br><br>
    <div class="downloads-section">
    <a class="download-stores"  href='https://play.google.com/store/apps/details?id=com.atrevborgir.threetwozeroonefour&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img id="hundredpx" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png'/></a>
    <a class="download-stores" style="height: 90px; margin-top: 18px;" href="https://162007.itch.io/32014">
      <img src="https://get.microsoft.com/images/en-GB%20dark.svg"/>
    </a>
  </div>

  <div class="about">
    <p>Includes story, minigames, and atrev borgirs.

      You play a character named "Atrav." Adventure through a world full of enemies & DANGER. Meet and befriend the allies that you'll encounter throughout the journey. Beware of the bosses which you will have to fight!
      
      As players progress through the levels of 32014, they are transported to a variety of exciting locations, each with its own unique challenges and gameplay elements. From fast-paced action stages to puzzle-solving quests, 32014 offers a wide range of gameplay experiences for players to enjoy.
      
      Overall, 32014 is an exciting and action-packed game that follows the thrilling adventures of Atrav as he fights to save the world from danger.
      
      <a href="https://162007.itch.io/32014" target="_blank"> Try out the demo on the browser! </a>
      
      Get the complete version on the Play Store or Windows!</p>

  <div class="sprout-pro-container">

      <div class="tooltip" id="angrynuts"><img src="/src/angrynuts.png" alt="angrynuts" class="smol" >  <span class="tooltiptext">kys</span></div>
      <div class="tooltip"  id="sprout"><img src="/src/sprout.png" alt="sprout" class="smol">  <span class="tooltiptext">buy sprout plushie babi lo</span></div>
      </div>
  </div>

  <h2>Screenshots</h2>
  <div class="screenshots">
    <img src="/src/s1.png" alt="s1" class="screenshot">
    <img src="/src/s2.png" alt="s2" class="screenshot">
    <img src="/src/s3.png" alt="s3" class="screenshot">
    <img src="/src/s4.png" alt="s4" class="screenshot">
    <img src="/src/s5.png" alt="s5" class="screenshot">
    <img src="/src/s6.png" alt="s6" class="screenshot">
    <img src="/src/s7.png" alt="s7" class="screenshot">
    <img src="/src/s8.png" alt="s8" class="screenshot">
    <img src="/src/s9.png" alt="s9" class="screenshot">
  </div>


  <div id="background"  style="filter: hue-rotate(0deg);">

    <div class="particles " ></div>
    <div class="particles "></div>

  </div>

  <a href="https://dsc.gg/carnagegame" target="_blank" class="discord-btn" role="button">
    <span class="discord-btn-subtitle">Join the</span>
    <span class="discord-btn-title">Discord!</span>
  </a> <br><br>

  <div id="footer" class="distressed-top">

    <div class=" wrapper-footer" class="inline-container">

       &copy2023 Website created by <a class="same-colour-as-bg" href="https://memastermind.github.io" style="filter: hue-rotate(0deg);">MasterMind  </a><img src="https://cdn.discordapp.com/emojis/1007762883884625920?size=20" class="inline-img" style="margin-top: 5px;"/>

    </div>

  </div>


<script src="/src/frontend.js"></script>
</div>
</body></html>

